
.bubble {
    position: relative;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 24px;
    width: 300px;
    background: #0B93F6;
    border-radius: 40px;
    padding: 24px;
    text-align: center;
    color: #fff;
}

.bubble-bottom-left:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 24px solid #0B93F6;
    border-right: 12px solid transparent;
    border-top: 12px solid #0B93F6;
    border-bottom: 20px solid transparent;
    left: 32px;
    bottom: -24px;
}
