@using FotografciTakipWeb.Models
@{
    //List<KullaniciYetki> ky = ViewBag.KullaniciYetkileri;
    List<KullaniciYetki> ky = (List<KullaniciYetki>)Session["Yetkiler"];
    bool dashboard = ky.FirstOrDefault(x => x.SayfaId == 1 && x.Sil == false && x.Aktif == true) == null ? false : ky.FirstOrDefault(x => x.SayfaId == 1 && x.Sil == false && x.Aktif == true).SayfaYetki;
}
@{ string ustmenuclass = ViewBag.UstMenu == "Dashboard" ? "active open" : "";}
@if (dashboard)
{
    <li class=@ustmenuclass>
        <a href="~/Otomasyon/Dashboard/Index" title="Dashboard" data-filter-tags="dashboard">
            <i class="fal fa-home"></i>
            <span class="nav-link-text" data-i18n="nav.dashboard">Dashboard</span>
        </a>
    </li>
}