@using FotografciTakipWeb.Models
@model List<Sube>
<div class="modal fade modal-backdrop-transparent" id="modal-shortcut" tabindex="-1" role="dialog" aria-labelledby="modal-shortcut" aria-hidden="true">
    <div class="modal-dialog modal-dialog-top modal-transparent" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <ul class="app-list w-auto h-auto p-0 text-left">
                    @foreach (var item in Model)
                    {
                        <li>
                            <a href="#" class="app-list-item text-white border-0 m-0 SubeDegistir" data-id="@item.Id">
                                @*<a href="~/Otomasyon/Default/SubeDegistir/@item.Id" class="app-list-item text-white border-0 m-0">*@
                                <div class='icon-stack'>
                                    <i class="base base-7 icon-stack-2x opacity-5 color-info-300"></i>
                                    <i class="base base-16 icon-stack-3x opacity-100 color-primary-500"></i>
                                    <i class="fal fa-camera icon-stack-2x opacity-100 color-white "></i>
                                </div>
                                <span class="app-list-name">
                                    @item.SubeAdi
                                </span>
                            </a>
                        </li>
                    }
                    @if (ViewBag.KullaniciYetki)
                    {
                    <li>
                        <a href="#" class="app-list-item text-white border-0 m-0 SubeDegistir" data-id="0">
                            @*<a href="~/Otomasyon/Default/SubeDegistir/@item.Id" class="app-list-item text-white border-0 m-0">*@
                            <div class='icon-stack'>
                                <i class="base base-7 icon-stack-2x opacity-5 color-info-300"></i>
                                <i class="base base-16 icon-stack-3x opacity-100 color-primary-500"></i>
                                <i class="fal fa-camera icon-stack-2x opacity-100 color-white "></i>
                            </div>
                            <span class="app-list-name">
                               Tüm Şubeler
                            </span>
                        </a>
                    </li>
                    }
                </ul>
            </div>

        </div>
    </div>
</div>

