<div class="demo-v-spacing" style="margin-bottom:15px">
    <ol class="breadcrumb breadcrumb-sm breadcrumb-arrow">
        <li>
            <a href="#">
                <i class="fal fa-home"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="hidden-md-down">@ViewBag.AltMenu</span>
            </a>
        </li>
        @*@if (ViewBag.AltMenu2 == "" || ViewBag.AltMenu2 == null)
        {
            <li class="active">
                <a href="#">
                    <span class="hidden-md-down mr-2">@ViewBag.AltMenu</span>
                    <i class="fal fa-arrow-down"></i>
                </a>
            </li>
        }
        else
        {
            <li>
                <a href="#">
                    <span class="hidden-md-down">@ViewBag.AltMenu</span>
                </a>
            </li>
            <li class="active">
                <a href="#">
                    <span class="hidden-md-down mr-2">@ViewBag.AltMenu2</span>
                    <i class="fal fa-arrow-down"></i>
                </a>
            </li>
        }*@
    </ol>
</div>
