
@{
    ViewBag.Title = "Rezervasyon Türleri Raporları";
    Layout = "~/Areas/Otomasyon/Views/Shared/_Layout.cshtml";
}
@section Head
{
    <style type="text/css">
        .c3-region.fff {
            fill: red;
        }
        .c3-region.foo {
            fill: green;
        }
    </style>
}

<div class="col-xl-12">
    <div class="row">
        <div class="col-xl-6">
            <div id="panel-6" class="panel">
                <div class="panel-hdr">
                    <h2>
                        Rezervsyon Türleri Raporu
                    </h2>
                    <div class="form-group col-sm-2">
                        <select class="custom-select form-control custom-select-sm" id="RaporSuresi" name="RaporSuresi" title="Rapor Süresi">
                            <option selected="" value="0">Yıllık</option>
                            <option value="1">Ocak</option>
                            <option value="2">Şubat</option>
                            <option value="3">Mart</option>
                            <option value="4">Nisan</option>
                            <option value="5">Mayıs</option>
                            <option value="6">Haziran</option>
                            <option value="7">Temmuz</option>
                            <option value="8">Ağustos</option>
                            <option value="9">Eylül</option>
                            <option value="10">Ekim</option>
                            <option value="11">Kasım</option>
                            <option value="12">Aralık</option>
                        </select>
                    </div>
                </div>

                <div class="panel-container show">
                    <div class="panel-content">
                        <div class="tab-pane fade active show" id="gelir_gider_rapor_grafik" role="tabpanel">
                            <div id="chart" style="width:100%; height:400px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Script
{
    <script>
        function ParaFormat(fiyat) {
            var para_sembol = "TL"
            var format = new Intl.NumberFormat('de-DE', {
                style: 'currency',
                currency: 'TRY',
                minumumFractionDigits: 2
            })
            //return format.format(fiyat)
            return format.format(fiyat).replace('TRY', para_sembol)
        }
        $(document).ready(function () {
            var data = {};
            var turadi = [];
            var chart;
            var Rapor_Suresi_Val
            $.ajax({
                type: "POST",
                url: "/Raporlar/RezervasyonTurleriRapor/0",
                data: {},
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    data = {};
                    turadi = [];
                    $.each(response, function (index_1, item_1) {
                        $.each(item_1, function (index_2, item_2) {
                            //console.log(index_2);
                            turadi.push(item_2.TurAdi);
                            data[item_2.TurAdi] = item_2.Toplam;
                        });
                    });
                    
                    chart = c3.generate({
                        data: {
                            json: [data],
                            keys: {
                                value: turadi,
                            },
                            type: 'bar'
                            //type: 'pie'
                        },
                        //pie: {
                        //    label: {
                        //        format: function (value, ratio, id) {
                        //            return value;
                        //        }
                        //    }
                        //}
                        bar: {
                            width: {
                                ratio: 0.7 // this makes bar width 50% of length between ticks
                            },
                            space: 0.25
                            // or
                            //width: 100 // this makes bar width 100px
                        },
                        grid: {
                            y: {
                                show: true, lines: [{ value: 0 }]
                            }
                        },
                        axis: {
                            x: {
                                type: 'category',
                                categories: ['Rezervasyon Türleri']
                            },
                            y: {
                                label: {
                                    text: 'Adet',
                                    position: 'outer-center'
                                }, tick: {
                                    values: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
                                }
                            }
                        }
                    });
                }
            });
            $("#RaporSuresi").change(function () {
                Rapor_Suresi_Val = $(this).find("option:selected").val();
                $.ajax({
                    type: "POST",
                    url: "/Raporlar/RezervasyonTurleriRapor/" + Rapor_Suresi_Val,
                    data: {},
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        data = {};
                        turadi = [];
                        $.each(response, function (index_1, item_1) {
                            $.each(item_1, function (index_2, item_2) {
                                turadi.push(item_2.TurAdi);
                                data[item_2.TurAdi] = item_2.Toplam;
                            });
                        });
                        chart = c3.generate({
                            data: {
                                json: [data],
                                keys: {
                                    value: turadi,
                                },
                                type: 'bar'
                                //type: 'pie'
                            },
                            //pie: {
                            //    label: {
                            //        format: function (value, ratio, id) {
                            //            return value;
                            //        }
                            //    }
                            //}
                            bar: {
                                width: {
                                    ratio: 0.7 // this makes bar width 50% of length between ticks
                                },
                                space: 0.25
                                // or
                                //width: 100 // this makes bar width 100px
                            },
                            grid: {
                                y: {
                                    show: true, lines: [{ value: 0 }]
                                }
                            },
                            axis: {
                                x: {
                                    type: 'category',
                                    categories: ['Rezervasyon Türleri']
                                },
                                y: {
                                    label: {
                                        text: 'Adet',
                                        position: 'outer-center'
                                    }, tick: {
                                        values: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
                                    }
                                }
                            }
                        });
                    }
                });
            });

            $('#dt-basic-example').dataTable(
                    {
                        responsive: true,
                        lengthChange: false,
                        "searching": false, // arama kaldır
                        "lengthChange": false, // sayfa başına göster kaldır
                        "bPaginate": false,  // Sayfalamayı Kaldırır
                        //"bLengthChange": false,
                        //"bFilter": true,
                        "bInfo": false, // .. kayıtan 1 ile 5 arası yazısını kaldırır.
                        //"bAutoWidth": false,
                        "bSort": false, // sıralamayı kapatır
                        dom:
                            "<'row mb-3'<'col-sm-12 col-md-6 d-flex align-items-center justify-content-start'f><'col-sm-12 col-md-6 d-flex align-items-center justify-content-end'lB>>" +
                            "<'row'<'col-sm-12'tr>>" +
                            "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                        buttons: [
                            //{
                            //    extend: 'pdfHtml5',
                            //    text: 'PDF',
                            //    titleAttr: 'Generate PDF',
                            //    className: 'btn-outline-danger btn-sm mr-1'
                            //},
                            {
                                extend: 'excelHtml5',
                                text: 'Excel',
                                titleAttr: 'Generate Excel',
                                className: 'btn-outline-success btn-sm mr-1'
                            }
                        ],
                        "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "Tümü"]],
                        "oLanguage": {
                            'sProcessing': 'Yükleniyor... Lütfen Bekleyin',
                            "sSearchPlaceholder": "Tabloda Ara",
                            "sZeroRecords": "Kayıt yok.",
                            "sLengthMenu": "Sayfa başına _MENU_ kayıt göster",
                            "sInfo": "_TOTAL_ kaydın _START_ ile _END_ arası gösteriliyor ",
                            "sInfoEmpty": "0 kaydın 0 ile 0 arası gösteriliyor",
                            "sInfoFiltered": "(_MAX_ toplam kayıttan filtrelendi)",
                            "oPaginate": {
                                "sPrevious": "Önceki",
                                "sNext": "Sonraki",
                                "sFirst": "İlk",
                                "sLast": "Son"
                            }
                        }
                    });

        });
    </script>
}