
@{
    ViewBag.Title = "PayTROdeme";
    Layout = "~/Areas/Otomasyon/Views/Shared/_Layout.cshtml";
}

<h2>PayTROdeme</h2>

@*@if (ViewBag.Status == "success")
{
    <iframe visible="true" src="@ViewBag.Src" runat="server" id="paytriframe" frameborder="0" scrolling="no" style="width: 100%; "></iframe>
    <script>iFrameResize({}, '#paytriframe');</script>
}
else
{
    <h1>@ViewBag.ErrorMessage </h1>
}*@

@section Script
{
    <script src="https://www.paytr.com/js/iframeResizer.min.js"></script>
}