
@{
    ViewBag.Title = "Tanımlar - Rehber Grupları";
    Layout = "~/Areas/Otomasyon/Views/Shared/_Layout.cshtml";
}
@using FotografciTakipWeb.Models
@{
    KullaniciYetki KullaniciYetki = ViewBag.KullaniciYetki;
    string DuzenleYetki = KullaniciYetki.KayitDuzenle.ToString();
    string SilYetki = KullaniciYetki.KayitSil.ToString();
}
<!-- Yeni Kayıt Ekle Modal Penceresi -->
<div class="modal fade" id="YeniKayitEkleModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="padding-bottom:5px">
                <h4 class="modal-title">
                    Yeni Rehber Grubu Ekle
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="panel-content p-0">
                    <div class="panel-content">
                        <div class="form-row">
                            <div class="col-12 mb-3" id="gruphata">
                                <label class="form-label" for="grupadi">Grup Adı <span class="text-danger">*</span> </label>
                                <input type="text" class="form-control" id="grupadi" placeholder="Grup Adı" name="GrupAdi" maxlength="50" required>
                                <div class="invalid-feedback">
                                    Grup Adını giriniz!
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="padding-top:0px">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                <button type="button" class="btn btn-primary" id="GrupKaydet">Kaydet</button>
            </div>
        </div>
    </div>
</div>
<!-- Yeni Kayıt Ekle Modal Penceresi -->
<!-- Kayıt Güncelle Modal Penceresi -->
<div class="modal fade" id="KayitDuzenleModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="padding-bottom:5px">
                <h4 class="modal-title">
                    Kayıt Güncelle
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="panel-content p-0">
                    <div class="panel-content">
                        <div class="form-row">
                            <div class="col-12 mb-3" id="grupduzenlehata">
                                <label class="form-label" for="grupduzenle">Grup Adı <span class="text-danger">*</span> </label>
                                <input type="text" class="form-control" id="grupduzenle" placeholder="Grup Adı" maxlength="50" name="GrupAdi" required>
                                <div class="invalid-feedback">
                                    Grup Adını giriniz!
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="padding-top:0px">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                <button type="button" class="btn btn-primary" id="GrupGuncelle">Güncelle</button>
            </div>
        </div>
    </div>
</div>
<!-- Kayıt Güncelle Modal Penceresi -->
<input type="text" id="KullaniciYetkiKayitDuzenle" class="form-control" name="Id" maxlength="50" style="display:none" value="@DuzenleYetki">
<input type="text" id="KullaniciYetkiKayitSil" class="form-control" name="Id" maxlength="50" style="display:none" value="@SilYetki">
<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel shadow-5">
            @if (KullaniciYetki.KayitEkle)
            {
                <div class="panel-hdr">
                    <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#YeniKayitEkleModal" style="margin:10px 10px 10px 17px " id="YeniEkle">Yeni Rehber Grubu Ekle</button>
                </div>
            }
            <div class="panel-container show">
                <div class="panel-content">
                    <!-- datatable start -->
                    <table id="dtRehberGruplari" class="table table-bordered table-hover table-sm table-striped w-100">
                        <thead class="bg-primary-500">
                            <tr>
                                <th>Grup Adı</th>
                                <th class="w-10">Durum</th>
                                <th class="w-10">İşlem</th>
                            </tr>
                        </thead>
                        <tbody id="gruplarsatir"></tbody>
                    </table>
                    <!-- datatable end -->
                </div>
            </div>
        </div>
    </div>
</div>

@section Script
{
    <script>

        $(document).ready(function () {
            $('input').on('focusout', function (e) {
                if ($(this).val != "") {
                    $(this).next("div.hata").remove();
                }
            });
            // TABLOLAMADAN ÖNCE OLMALI, Çünkü; Önce tüm tablo yükleniyor, sayfalama daha sonra yapılıyor.
            $("#YeniEkle").click(function () {
                $("#grupadi").val("");
            });
            $("#GrupKaydet").click(function () {
                if ($("#grupadi").val() == "") {
                    $("#grupadi").focus();
                    $("#gruphata").append("<div class='hata' style='color:red'>Rehber Grubunu Giriniz.</div>");
                }
                else {
                    $('#YeniKayitEkleModal').modal('hide');
                    var grup = $("#grupadi").val();
                    var RehberData = new FormData();
                    RehberData.append("GrupAdi", $("#grupadi").val());
                    $.ajax({
                        type: "POST",
                        datatype: 'json',
                        data: RehberData,
                        contentType: false,
                        processData: false,
                        url: "/Otomasyon/Tanimlar/RehberGrubuVarMi/",
                        success: function (data) {
                            if (data == "Yok") // Bu isimde aktif bir paket yoksa yeni paket eklenecek
                            {
                                $.ajax({
                                    type: "POST",
                                    datatype: 'json',
                                    data: RehberData,
                                    contentType: false,
                                    processData: false,
                                    url: "/Otomasyon/Tanimlar/RehberGrubuEkle/",
                                    success: function (data) {
                                        if (data.Sonuc == false) {
                                            alertify.set('notifier', 'delay', 5);
                                            alertify.set('notifier', 'position', 'top-center');
                                            alertify.error(data.Mesaj);
                                        }
                                        else if (data.Sonuc == true) {
                                            alertify.set('notifier', 'delay', 3);
                                            alertify.set('notifier', 'position', 'top-center');
                                            alertify.success(data.Mesaj);
                                            dt.api().ajax.reload();
                                        }
                                    },
                                    error: function (err) {
                                        alert("HATA");
                                    }
                                });
                            }
                            else if (data != "Yok") // Aynı isimde  aktif bir paket var ise uyarı ver ve gücelleme sor
                            {
                                Swal.fire(
                                {
                                    title: "Varolan Kayıt",
                                    html: "<p><h2 style='font-size:16px; color:red'><strong>Rehber Grubu : </strong>" + grup + "</br><h2> Rehber Grubu zaten var!</h2>",
                                    type: "warning"
                                });
                            }
                        },
                        error: function (err) {
                            alert("HATA");
                        }
                    });

                }
            });
            $("#dtRehberGruplari").on('click', '.Duzenle', function () {// Satıra ait "Düzenle" butonuna basıldığında düzenleme yapılacak modal penceresi açılarak gerekli bilgiler dolduruluyor.
                $("#GrupGuncelle").val($(this).data("gid"))
                $("#grupduzenle").val($(this).data("grupadi"));
            });
            $("#GrupGuncelle").click(function () {
                if ($("#grupduzenle").val() == "") {
                    $("#grupduzenle").focus();
                    $("#grupduzenlehata").append("<div class='hata' style='color:red'>Rehber Grubunu Giriniz.</div>");
                }
                else {
                    $('#KayitDuzenleModal').modal('hide');
                    var id = $(this).val();
                    var RehberData = new FormData();
                    RehberData.append("GrupAdi", $("#grupduzenle").val());
                    $.ajax({
                        type: "POST",
                        datatype: 'json',
                        data: RehberData,
                        contentType: false,
                        processData: false,
                        url: "/Otomasyon/Tanimlar/RehberGrubuGuncelle/" + id,
                        success: function (data) {
                            if (data.Sonuc == false) {
                                alertify.set('notifier', 'delay', 5);
                                alertify.set('notifier', 'position', 'top-center');
                                alertify.error(data.Mesaj);
                            }
                            else if (data.Sonuc == true) {
                                alertify.set('notifier', 'delay', 3);
                                alertify.set('notifier', 'position', 'top-center');
                                alertify.success(data.Mesaj);
                                dt.api().ajax.reload();
                            }
                        },
                        error: function (err) {
                            alert("HATA");
                        }
                    });

                }
            });
            $("#dtRehberGruplari").on('click', '.Sil', function () {
                var id = $(this).data("gid");
                var grup = $(this).data("grupadi");
                Swal.fire(
                {
                    title: "Kayıt Silinecek",
                    html: "<p><h2 style='font-size:16px; color:red'><strong>Rehber Grubu : </strong>" + grup + "</br><h2> Rehber Grubu silinsin mi?</h2>",
                    type: "error",
                    showCancelButton: true,
                    confirmButtonText: "Evet, Silinsin!",
                    cancelButtonText: "İptal"
                }).then(function (result) {
                    if (result.value) {
                        $.ajax({
                            type: "POST",
                            datatype: 'json',
                            contentType: false,
                            processData: false,
                            url: "/Otomasyon/Tanimlar/RehberGrubuSil/" + id,
                            success: function (data) {
                                if (data.Sonuc == false) {
                                    alertify.set('notifier', 'delay', 5);
                                    alertify.set('notifier', 'position', 'top-center');
                                    alertify.error(data.Mesaj);
                                }
                                else if (data.Sonuc == true) {
                                    alertify.set('notifier', 'delay', 3);
                                    alertify.set('notifier', 'position', 'top-center');
                                    alertify.success(data.Mesaj);
                                    dt.api().ajax.reload();
                                }
                            },
                            error: function (err) {
                                alert("HATA");
                            }
                        });
                    }
                });
            });
            $("#dtRehberGruplari").on('click', '.durumdegistir', function () {
                var id = $(this).data("grupid");
                $.ajax({
                    type: "POST",
                    datatype: 'json',
                    contentType: false,
                    processData: false,
                    url: "/Otomasyon/Tanimlar/RehberGrubuDurumDegistir/" + id,
                    success: function (data) {
                        if (data == "degisti") {
                            dt.api().ajax.reload();
                        }
                        else {
                            alert("HATA");
                        }
                    },
                    error: function (err) {
                        alert("HATA");
                    }
                });
            });
            // TABLOLAMADAN ÖNCE OLMALI, Çünkü; Önce tüm tablo yükleniyor, sayfalama daha sonra yapılıyor.
            var dt;
            var islem;
            var DuzenleYetki = $("#KullaniciYetkiKayitDuzenle").val();
            var SilYetki = $("#KullaniciYetkiKayitSil").val();
            dt = $('#dtRehberGruplari').dataTable(
               {
                   responsive: true,
                   "destroy": true,
                   "columns": [
                               { "data": "GrupAdi", "autowidth": true },
                               {
                                   "data": null,
                                   "className": "align-middle text-center ",
                                   "render": function (data, type, row) {
                                       islem = "";
                                       if (row.KilitBit == false) {
                                           if (DuzenleYetki == "True") {
                                               if (row.Aktif == true) {
                                                   //islem = islem + "<span class='badge badge-success'>Aktif</span>"
                                                   islem = islem + "<button type='button' class='btn btn-xs btn-success color-white waves-effect waves-themed durumdegistir' title='Durum Değiştir' data-grupid='" + row.Id + "'>Aktif</button>"
                                               }
                                               else {
                                                   //islem = islem + "<span class='badge badge-danger'>Pasif</span>"
                                                   islem = islem + "<button type='button' class='btn btn-xs btn-danger waves-effect waves-themed durumdegistir' title='Durum Değiştir' data-grupid='" + row.Id + "'>Pasif</button>"
                                               }
                                           }
                                           else {
                                               if (row.Aktif == true) {
                                                   islem = islem + "<span class='badge badge-success'>Aktif</span>"
                                                   //islem = islem + "<button type='button' class='btn btn-xs btn-success color-white waves-effect waves-themed durumdegistir' title='Durum Değiştir' data-smsmetinid='" + row.Id + "'>Aktif</button>"
                                               }
                                               else {
                                                   islem = islem + "<span class='badge badge-danger'>Pasif</span>"
                                                   //islem = islem + "<button type='button' class='btn btn-xs btn-danger waves-effect waves-themed durumdegistir' title='Durum Değiştir' data-smsmetinid='" + row.Id + "'>Pasif</button>"
                                               }
                                           }
                                       }
                                       return islem
                                   }
                               },
                               {
                                   "data": null,
                                   "render": function (data, type, row) {
                                       islem = "";
                                       if (row.KilitBit == false) {
                                           if (DuzenleYetki == "True") {
                                               islem = islem + "<a href='#' class='btn btn-xs btn-primary btn-icon Duzenle' data-gid='" + row.Id + "' data-grupadi='" + row.GrupAdi + "' data-toggle='modal' data-target='#KayitDuzenleModal'>" +
                                                                    "<i class='fal fa-edit'></i>" +
                                                               "</a>"
                                           }
                                           if (SilYetki == "True") {
                                               islem = islem + "<a href='#' class='btn btn-xs btn-danger btn-icon Sil' data-gid='" + row.Id + "' data-grupadi='" + row.GrupAdi + "' style='background-color:crimson;margin-left:5px'>" +
                                                                    "<i class='fal fa-trash-alt'></i>" +
                                                               "</a>"
                                           }
                                       }
                                       return islem
                                   }
                               }
                   ],
                   "processing": true,
                   "ajax": {
                       "url": "/Otomasyon/Tanimlar/RehberGrupList/",
                       "contentType": 'application/json; charset=utf-8',
                       'data': function (data) { return data = JSON.stringify(data); }
                   },
                   "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "Tümü"]],
                   "oLanguage": {
                       "sSearchPlaceholder": "Tabloda Ara",
                       "sZeroRecords": "Kayıt yok.",
                       "sLengthMenu": "Sayfa başına _MENU_ kayıt göster",
                       "sInfo": "_TOTAL_ kaydın _START_ ile _END_ arası gösteriliyor ",
                       "sInfoEmpty": "0 kaydın 0 ile 0 arası gösteriliyor",
                       "sInfoFiltered": "(_MAX_ toplam kayıttan filtrelendi)",
                       "sProcessing": "Yükleniyor... Lütfen Bekleyin",
                       "oPaginate": {
                           "sPrevious": "Önceki",
                           "sNext": "Sonraki",
                           "sFirst": "İlk",
                           "sLast": "Son"
                       }
                   }
               });
        });
    </script>
}
